body {
    font-family: Arial, sans-serif;
    position: relative;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}


/* for the display video */
#hdr {
    position: relative;
    overflow: hidden;
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/* for the display video */
#hdr video#bgvid {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* Optional: for better visibility */
    color: white;
    /* Optional: for better visibility */
    padding: 10px 0;
    /* Add some padding */
    z-index: -1;
}

parent-selector {
    /* Replace with the actual selector of the parent element */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Full viewport height */
    text-align: center;
}

/* .content-wrap Styles */
.content-wrap {
    font-size: 24px;
    position: fixed;
    z-index: 10;
    /* Ensures the content is above the video/background */
    max-width: 960px;
    /* Maximum width of the content */
    width: 100%;
    /* Full width of the parent element */
    margin: 0 auto;
}


/* Style for the header background if needed */
.hdr-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Background styling goes here */
    z-index: -1;
    /* Keeps it behind the content */
}

#top-nav {
    background-color: transparent;
    /* Dark background for the navbar */
    color: white;
    padding: 20px 0;
    /* Padding around the buttons */
    text-align: center;
    /* Center the buttons within the nav element */
}



#top-nav button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Optional: Change background on hover for a subtle effect */
    opacity: 1;
    /* Ensure full visibility on hover */
}

#top-nav button {
    font-size: 40px;
    padding: 15px 30px;
    background-color: transparent;
    /* Make the background transparent */
    color: white;
    /* Change text color for visibility */
    border: 2px solid white;
    /* Optional: add a border for visibility */
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    /* Transition for opacity and background color */
}

#top-nav:hover button {
    opacity: 1;
    pointer-events: auto;
}