{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}


<header id="hdr">
    <video playsinline autoplay muted loop id="bgvid">
        <!-- The sources will be inserted by JavaScript -->
    </video>
    <div class="content-wrap">
        <h1>Welcome to SteamGame Webpage</h1>
    </div>
</header>

<nav id="top-nav">
  <button onclick="location.href='{{ url_for('about') }}';">About</button>
  <button onclick="location.href='{{ url_for('search') }}';">Search</button>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var videoList = [
        '/static/2258_1699574735.mp4',
        '/static/hero-c35bd03ceaa5f919e98b20c905044a3d.mp4',
        '/static/2259_1699574937.mp4'
        // ... add as many paths as you have videos
      ];
  
      var videoElement = document.getElementById('bgvid');
      var sourceElement = document.createElement('source');
  
      // Select a random video from the list
      var randomVideoPath = videoList[Math.floor(Math.random() * videoList.length)];
      sourceElement.setAttribute('src', randomVideoPath);
      sourceElement.setAttribute('type', 'video/mp4');
  
      videoElement.appendChild(sourceElement);
  
      // Attempt to play the video
      videoElement.play().catch(error => {
        console.error("Video play failed:", error);
        // Handle the failure to play the video as needed
      });
    });
  </script>

  <footer>
    <p>&copy; 2023 SteamGame</p >
</footer>

{% endblock %}