{% extends "layout.html" %}

{% block title %}Game Search Engine{% endblock %}

{% block body %}


<main>

    <section class="search-engine">
        <div class="search-container">
            <h2>Game Search</h2>
            <input type="text" id="searchBox" placeholder="Search for games...">

            <div class="filters">
                <select id="categoryFilter">
                    <option value="">Select Category</option>
                    <option value="action">Action</option>
                    <option value="adventure">Adventure</option>
                    <option value="RPG">RPG</option>
                    <option value="simulation">Simulation</option>
                    <option value="casual">Casual</option>
                    <option value="strategy">Strategy</option>
                    <option value="indie">Indie</option>
                </select>

                <input type="number" id="minPrice" placeholder="Min Price">
                <input type="number" id="maxPrice" placeholder="Max Price">
            </div>

            <div id="searchResults"></div>
        </div>
    </section>
</main>

<script src="static/external.js"></script>


<div class="text-center mt-4">
    <a href='/' class="btn btn-primary">Home</a>
</div>

<footer>
    <p>&copy; 2023 SteamGame</p >
</footer>

{% endblock %}