<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Games</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head> -->
{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-4" style="text-align: center;">My Favorite Games</h1>
        <div class="row">
            {% for game in games %}
            <div class="col-md-4 mb-4">
                <div style="background-color: #a9a6a6;
                margin: 15% auto; /* 15% from the top and centered */
                padding: 20px;
                border: 1px solid #888;">
                    <div >
                        <h5 >{{ game.title }}</h5>
                        <p >{{ game.description }}</p>
                        <!-- Rating Form -->
                        <form action="/userHome/submit_review" method="post">
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            <div>Ratings
                                <select name="rating" class="width:{5px}">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            
                            <input type="text" name="review" placeholder="Write comment">
                            <button type="submit">Submit Review</button>
                        </form>

                        <!-- Review Form
                        <form action="/write_review" method="post">
                            <input type="hidden" name="game_id" value="{{ game.id }}">
                            <input type="text" name="review" placeholder="Write a review">
                            <button type="submit">Submit Review</button>
                        </form> -->

                        <!-- Delete Form -->
                        <form action="/delete_game/{{ game.id }}" method="post">
                            <button type="submit">Delete Game</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- ... (scripts remain the same) -->

{% endblock %}